/Labs/SOEN387_HelloWorld/nbproject/private/
/Labs/SOEN387_HelloWorld/build/
/Labs/WebApplicationDemo/nbproject/private/
/Labs/WebApplication1/nbproject/private/
/Labs/WebApplicationDemo/build/
/Labs/WebApplicationDemo/dist/
/Assignment1/nbproject/private/
/Assignment 1/nbproject/private/
/Assignment 1/build/
/Labs/StudentsDemo/nbproject/private/
/Labs/StudentsDemo/build/
/Assignment 1/A1-Airi/nbproject/private/
/Assignment 1/A1-Airi/build/
/Assignment 1/A1-Airi/dist/
/Assignment 1/TutorialJSP/nbproject/private/
/Assignment 1/JSPExample/nbproject/private/
/Assignment 1/JSPExample/build/
/Labs/JSPExample/nbproject/private/
/Labs/JSPExample/build/
/Labs/JSPExample/dist/
/Labs/JDBCDemoProject/nbproject/private/
/Labs/JDBCDemoProject/build/
/Assignment 2/A2-Airi/BookRepository/nbproject/private/
/Assignment 2/A2-Airi/Repository/nbproject/private/
/Assignment 2/A2-Jas/nbproject/private/
/Assignment 2/A2-Airi-Web-App/nbproject/private/
/Assignment 2/A2-Airi/nbproject/private/
/Assignment 2/A2-Airi/build/
/Assignment 2/A2/WebApplication1/nbproject/private/
/Assignment 2/A2/A2/nbproject/private/
/Assignment 2/A2/A2/build/
/Assignment 2/A2/build/
/Labs/Lab7/MVC-Examples/nbproject/private/
/Labs/Lab7/MVC-Examples/build/
/Labs/Lab7/CalculatorApp/nbproject/private/
/Labs/Lab7/CalculatorApp/build/
/Assignment 2/A2-UI/dist/
/Labs/Lab7/Lab8-DesignPatterns/nbproject/private/
/Labs/Lab7/Lab8-DesignPatterns/build/
/Labs/Lab8/Lab8-DesignPatterns/nbproject/private/
/Labs/Lab8-DesignPatterns/nbproject/private/
/Labs/Lab9-DOM&JQuery/nbproject/private/
/Labs/Lab9-DOM&JQuery/build/
/Labs/Lab9-DOM&JQuery/dist/
/Assignment 3/A3-Repository/nbproject/private/
/Assignment 3/A3-UI/nbproject/private/
/Assignment 3/A3-UI/build/
/Assignment 3/A3-UI/dist/
/Assignment 3/A3-Repository/build/
/Assignment 3/A3-Repository/dist/
/Assignment 3/A3-DataAccessLayer/nbproject/private/
/Assignment 3/A3-DataAccessLayer/build/
/Assignment 3/A3-DataAccessLayer/dist/