<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HTTPServlet</servlet-name>
        <servlet-class>HTTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTTPServlet</servlet-name>
        <url-pattern>/HTTPServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
     <welcome-file-list>
        <welcome-file>jQueryExample6.jsp</welcome-file> 
        <welcome-file>jQueryExample5.jsp</welcome-file> 
        <welcome-file>jQueryExample4.jsp</welcome-file>
        <welcome-file>jQueryExample3.jsp</welcome-file>
        <welcome-file>jQueryExample2.jsp</welcome-file>
        <welcome-file>Example7.jsp</welcome-file>
        <welcome-file>Example5.jsp</welcome-file>
        <welcome-file>Example4.jsp</welcome-file>
        <welcome-file>Example2.jsp</welcome-file>
        <welcome-file>Example1.jsp</welcome-file>
        
    </welcome-file-list>
</web-app>
